.App {
  font-family: sans-serif;
  text-align: center;
}

.company-list {
  list-style: none;
  padding: 10px 16px;
  margin: 0;
}

.company-list_item {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.company-list_item-max {
  background-color: yellow;
  color: #333;
  padding: 10px 16px;
  margin-bottom: 8px;
  border-radius: 6px;
}
